// 选择器样式
.select-style{
  height: 10%;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 10px;
}
// 网格内卡片样式
.gridStyle{
  width: 25%;
  text-align: center;
  background-color: #dddddd;
}
// 统计信息卡片样式
.messageNum-style{
  height: 10%;
  width: 12%;
  margin-left: 44%;
  margin-bottom: 10px;
}
// 卡片样式
.card-style{
  text-align: center;
}
